.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    color: #a6e1ec;
    padding: 45px;
    margin-top: 80px;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
* {
    padding: 0;
    margin: 0;
}
user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
